.full-height {
  height: 100%;
  min-height: 100%;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

html,
body,
.viewport,
.main-view,
.rn-carousel-container,
.notes {
  .full-height;
  .no-margin;
  .no-padding;
}

@view-padding: 60px;

.note-group {
  height: calc(~'100% - ' (2* @view-padding));
  margin: @view-padding;
}

.gridster .gs-w {
  background-color: whitesmoke;
  list-style: none;
  cursor: pointer;
}

.rounded-corners (@radius: 10px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow (@blur: 15px, @rgba: rgba(0, 0, 0, .8)) {
  -webkit-box-shadow: 0 0 @blur @rgba;
  -moz-box-shadow: 0 0 @blur @rgba;
  box-shadow: 0 0 @blur @rgba;
}

.no-box-shadow () {
  -webkit-box-shadow: 'none';
  -moz-box-shadow: 'none';
  box-shadow: 'none';
}

.white-text {
  color: white;
}

.black-text {
  color: #000000;
}

.default-font-size {
  font-size: 16px;
}

.white-background {
  background-color: white;
}

.whitesmoke-background {
  background-color: whitesmoke;
}

.inline-block {
  display: inline-block;
}

.default-line-height {
  line-height: 140%;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

.default-body-background-color
{
  background-color: #220e58;
}
/*
#0172c8
#e91124
#de3b01
#4e6b90
#c99a10
#0f9611
#c34c2f
#0f6eb3
#363738
#e8b41a
#6d3fc6
*/
body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
  color: #868c92;
  .default-body-background-color;
  -webkit-print-color-adjust: exact;
}

h4 {
  margin: 0 0 10px 0;
}

.attention-text {
  font-weight: bold;
  color: orange;
}

#viewport {
  overflow: hidden;
}

.menu-li-a-common-style {
  padding: 9px 18px;
  display: block;
}

#menu {
  position: fixed;
  top: 0;
  right: 50px;
  height: 40px;
  z-index: 70;
  padding: 0;
  margin: 0;

  li {
    .inline-block;
    margin: 10px 2px;
    background: transparent;
    border: solid 1px white;

    &.active {
      background-color: #666;
      .white-text;

      a {
        .white-text;
        .menu-li-a-common-style;

        &:hover {
          .black-text;
        }
      }
    }

    a {
      text-decoration: none;
      .white-text;
      .menu-li-a-common-style;

      &:hover {
        color: darkslategray;
      }
    }

    &:hover {
      .white-background;
    }
  }
}

.tableCell {
  padding: 80px 52px 20px 52px;
}

.controlArrow {
  opacity: 0.2;

  &:hover {
    opacity: 1.0;
  }
}

.section {
  text-align: center;
}

.slide .content {
  .whitesmoke-background;
  .black-text;
  .default-font-size;
  text-align: left;
  padding: 20px;
  .default-line-height;
  overflow-y: auto;
}

.content {
  a {
    text-decoration: none;
    color: blue;
    text-shadow: none;

    &:hover {
      color: green;
      font-weight: bold;
    }

    ul {
      margin: 0;
    }
  }
  ul {
    margin-top: 5px;
  }

  .project {
    padding-left: 40px;
    width: 700px;
  }

  .description {
    margin-left: 30px;
    padding-bottom: 10px;
  }

  .job,
  .project,
  .book-category,
  .chart-section,
  .school {
    margin: 15px 30px 40px 30px;
    padding: 20px;
    .box-shadow();
  }
}

.round-content {
  .rounded-corners(20px);
  border: solid 1px gray;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
}

.job .dim {
  opacity: 0.7;
  width: 145px;
  .inline-block;
}

.project .thumbnail {
  margin: 5px 0 0 10px;
}

.chart-section {
  width: 900px;
  border: solid 1px gray;

  circle {
    opacity: 1.0;;
  }

  text {
    font-size: 12px !important;
  }
}

.book-category {
  h4 {
    margin-bottom: 0;
  }

  .thumbnail {
    margin: 20px 30px 0 0;
    height: 243px;
    width: 153px;
  }
}

.campus {
  width: 300px;
  height: 180px;
  .float-left;
  .box-shadow(@blur: 8px);
  .rounded-corners();
}

.uwb {
  background: url("../img/uwb.jpg");
}

.bcc {
  background: url("../img/bcc.jpg");
}

.school {
  clear: both;
  height: 200px;

  .description {
    .inline-block;
    padding-left: 50px;
    width: 400px;
  }
}

.circular {
  .rounded-corners(50%);
  .box-shadow(@blur: 8px);
}

.summary {
  .default-line-height;
  font-size: 18px;
  margin: 15px 30px;
}

.portrait {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: url("../img/portrait.jpg") no-repeat;
}

.left-of-portrait {
  border-right: solid 2px lightgray;
  padding-right: 30px;
  width: 75%;
  .float-left;
}

.portrait-column {
  padding-left: 30px;
  width: 150px;
  .float-left;

  .connector {
    margin: 0 auto;
    height: 90px;
    width: 0;
    border-left: solid 2px lightgray;
  }
}

.thumbnail {
  border: solid 1px lightgray;
}

.thumbnail:hover,
.github:hover {
  .box-shadow(@rgba: rgba(0, 128, 0, 1));
  border-color: rgba(0, 128, 0, 0.5);
}

.github {
  .inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/github.png") no-repeat;
}

.hidden {
  display: none;
}

.click-me {
  color: gray;
  margin: 0 auto;
  cursor: pointer;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border: solid 2px lightgray;
  font-size: 14px;
  .rounded-corners(50%);
  /*margin: 0 auto;*/
  /*background-color: #3879d9;*/
  /*color: #ffffff;*/

  &:hover {
    background-color: rgba(154, 205, 50, 0.5);
  }
}

.float-right {
  float: right;
  .inline-block;
}

.float-left {
  float: left;
  .inline-block;
}

.cv-buttons {
  .float-right;

  .button {
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    border: solid 2px gray;
    cursor: pointer;
    margin-bottom: 10px;
    color: gray;

    &:hover {
      background-color: gray;
      color: #ffffff;
      font-weight: normal;
    }
  }
}

.cv-container {
  margin: 0 auto;
  width: 850px;
}

.cv {
  .box-shadow();
  .whitesmoke-background;
  .default-font-size;
  .black-text;
  .inline-block;
  margin: 0;
  padding: 0;
  width: 850px;
  height: 1100px;
  text-align: left;
  .default-line-height;

  .header {
    padding-top: 30px !important;
    width: 100%;

    .name {
      font-size: 35px;
      padding-right: 45px;
      .inline-block;
    }

    .contact {
      .inline-block;
    }
  }

  .sites {
    padding-bottom: 20px;
  }

  .site {
    line-height: 30px;
    .inline-block;
    width: 423px;
  }

  .spacer {
    .inline-block;
    width: 30px;
  }

  .portfolio {
    background-color: #6e6e6e;
    color: #ffffff;
    .float-left;
  }

  .projects {
    background-color: #d2d2d2;
    .black-text;
    .float-right;
  }

  .block {
    padding: 20px 30px 20px 30px;
  }

  .objective {
    clear: both;
  }

  .main {
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    clear: both;
    .inline-block;
  }

  .education,
  .learning-interests {
    padding-top: 10px;
  }
}

.main {
  h2 {
    margin-top: 0;
  }

  .left {
    border-right: solid 1px lightgray;
    width: 363px;
    padding-right: 30px;
  }

  .right {
    width: 366px;
    padding-left: 30px;
  }
}

.left {
  .float-left;
}

.right {
  .float-right;
}

@media print {
  body > *:not(.active .content) {
    display: none;
  }

  .cv {
    .white-background;
    .no-box-shadow;
  }

  a {
    text-decoration: none;
    .black-text;
  }

  body {
    .white-background;
  }
}

@page {
  padding: 0;
  margin: 0;
  width: 8.5in;
  height: 11in;
}