<div ng-controller="NotesCtrl" class="main-view">
    <div class="sidebar-menu">
        <span class="fa fa-cog" colorpicker class="span2" ng-model="bgColor" title="Change Background Color"></span>
        <span class="fa fa-plus" ng-click="addNote()" title="Add Note"></span>
    </div>
    <div class="notes">
        <gridster options="gridster.options">
            <gridster-item ng-repeat="note in notes track by note.id" options="note.gridsterOptions">
                <div class="title">{{note.title}}</div>
                <div class="content" ng-bind-html="trustAsHtml(note.content)"></div>
                <div class="icons">
                    <span class="fa fa-times" data-unique="1"
                          ng-click="setNoteToDelete(note)"
                          bs-popover="'js/view/partial/delete-note.html'"
                          title="Delete note permanently?">
                    </span>
                    <span class="fa fa-pencil" ng-click="editNote(note)" title="Edit Note"></span>
                </div>
            </gridster-item>
        </gridster>
    </div>
</div>
