<div ng-controller="NotesCtrl" class="main-view">
    <div class="sidebar-menu">
        <span class="fa fa-plus" ng-click="addNote()" title="Add Note"></span>
    </div>
    <div class="notes">
        <gridster options="gridster.options">
            <gridster-item ng-repeat="note in notes" options="note.gridsterOptions">
                <div class="title">{{note.title}}</div>
                <div class="content" ng-bind-html="note.content"></div>
                <div class="fa fa-pencil" ng-click="editNote(note)" title="Edit Note"></div>
            </gridster-item>
        </gridster>
    </div>
</div>
