<div class="modal-dialog" ng-style="width()">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>Edit Note</h4>
        </div>
        <div class="modal-body">
            <div text-angular text-angular-name="demo1"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-default" ng-click="hide()">Close</button>
            <button class="btn btn-primary" ng-click="modal.saved=true;hide()">Save changes</button>
        </div>
    </div>
</div>
